%h1 Editing image
= form_for @image, :html => { :multipart => true } do |f|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this image from being saved:
      %ul
        - @image.errors.full_messages.each do |message|
          %li= message
  = image_tag @image.photo.url(:medium)
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :visible
    %br/
    = f.check_box :visible
  .field
    = f.file_field :photo
    %br/
  .actions
    = f.submit
= link_to 'Show', @image
|
= link_to 'Back', images_path
