.large-4.columns
  %h3 
    Editing image
    = form_for @image, :html => { :multipart => true } do |f|
      - if @image.errors.any?
        #error_explanation
          %h4
            %b
              = pluralize(@image.errors.count, "error")
              prohibited this image from being saved:
          %ul
            - @image.errors.full_messages.each do |message|
              %li= message
      %p
        = image_tag @image.photo.url(:thumb)
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :description
        = f.text_field :description 
      .field
        = f.label :visible
        = f.check_box :visible
      .field
        = f.file_field :photo 
      .actions
        = f.submit class: 'button small success'

      = link_to "Back", images_path, class: "button small alert"