.gallery
  - @images.each do |image|
    .photo
      = image_tag image.photo.url(:thumb)
      .content
        = image.name
        = image.description
        .icon
          = link_to 'Show', image
          = link_to 'Edit', edit_image_path(image)
          = link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }

