.large-4.columns

  = image_tag @image.photo.url(:thumb)
  %p
    %strong Name:
    = @image.name
  %p
    %strong Description:
    = @image.description
  %p
    %strong Visible:
    = @image.visible
  %p  
    = link_to "Back", images_path, class: "button small alert"
    = link_to "Edit", edit_image_path(@image), class: "button small success"

